<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="my-jas">
      <ion-icon name="star"></ion-icon>
      <ion-label>MYJAS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>EVENTS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>HOME</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="flower"></ion-icon>
      <ion-label>NAJA</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>INFO</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
