.homePageGrid {
    display: flex;
    align-items: center;

    img {
        width: 100%;
        height: auto;
        position: relative;
        opacity: 0.9;
    }

    ion-card {
        height: 150px;
        position: relative;
    }

    .card-title {
        top: 8%;
        font-size: 1.6em;
        width: 100%;
        font-weight: bold;
        color: RED;
        position: absolute;
        left: 8%;
    }

    .card-md {
        margin: 0;
        width: auto;
    }
}